@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    /* Using your new dark color as default text, primary as default background */
    @apply bg-primary text-dark font-sans antialiased;
  }
}

/* Custom Minimalist Premium Background */
.bg-premium {
  background-color: #f5f3ef;
  background-image: radial-gradient(at 50% 0%, #ffffff 0px, transparent 70%);
}

/* Selecting text highlight color */
::selection {
  background-color: #232323;
  color: #f5f3ef;
}
